@page "/ForgotPasswordPage"
@inject NavigationManager NavManager

<div class="login-container">
    <h1>Forgot Password</h1>

    <!-- Username Input -->
    <div class="input-group">
        <span class="input-icon">
            <img src="images/profile.png" width="25px" alt="User Icon" />
        </span>
        <input type="text" placeholder="Enter your Email" @bind="Email"/>
    </div>
    <p class="forgotpasswordtext">
        We will send you a message to set or reset your new password
    </p>
    <!-- Login Button -->
    <button class="login-button" @onclick="HandleLogin">Submit</button>
</div>

@code {
    private string Username { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;
    private string Email { get; set; } = string.Empty;
    private bool IsPasswordVisible { get; set; } = false;

    private void HandleLogin()
    {
        // Login logic here
        NavigationManager.NavigateTo("/");
    }

    private void TogglePasswordVisibility()
    {
        IsPasswordVisible = !IsPasswordVisible;
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;
}
