@page "/ForgotPasswordPage"
@inject NavigationManager NavManager
@using System.ComponentModel.DataAnnotations

<style>
    .validation-errors {
        padding-inline-start: 0px !important;
        list-style: none;
    }

    .error-message {
        color: red;
    }
</style>
<div class="login-container">
    <h1>Forgot Password</h1>

    <EditForm Model="@forgotPasswordModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="input-group">
            <span class="input-icon">
                <img src="images/profile.png" width="25px" alt="User Icon" />
            </span>
            <InputText type="email" placeholder="Enter your Email" @bind-Value="forgotPasswordModel.Email" class="form-control" style="border-radius: 10px;" />
        </div>

        <p class="forgotpasswordtext">
            We will send you a message to set or reset your new password
        </p>

        <button type="submit" class="login-button">Submit</button>
    </EditForm>
</div>

@code {
    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();

    private void HandleLogin()
    {
        if (forgotPasswordModel.Email != null)
        {
            // Handle the login logic
            NavigationManager.NavigateTo("/"); // Redirect on successful form submission
        }
    }

    public class ForgotPasswordModel
    {
        [Required(ErrorMessage = "Email is required")]
        [EmailAddress(ErrorMessage = "Please enter a valid email address")]
        public string Email { get; set; } = string.Empty;
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;
}
